<h1>Order Info:</h1>
<p>Order ID: <%=  @order.id %></p>

<% @order.carted_products.each do |carted_product| %>
<p>Product: <%= carted_product.product.name %></p>
<p>Quantity: <%= carted_product.quantity %></p>
<% end %>

<p>Subtotal: <%=  @order.subtotal %></p>
<p>Tax: <%=  @order.tax %></p>
<p>Total: <%= @order.total %></p>
<p>Buyer's Email: <%= @order.user.email %></p>
<p>Time of Purchase: <%= @order.created_at.strftime("%b %e, %l:%M %p")%></p>

  