 <% if current_user %> 
<h1>Hello <%= current_user.name %>!</h1>
<% end %>
  <div class="row">
    <% @products.each do |product| %>
      <div class = "col-md-4">
        <div class="well">
          <h1>
            <a href="/products/<%= product.id %>">
              <%= product.name %>
            </a>
          </h1>
            <p>Price: <%=  number_to_currency(product.price, unit: "Rupees", format: "%n %u") %></p>
            <p><%= product.sale_message %></p>
            <p>Tax: <%= product.tax %></p>
            <p>Total: <%= product.total %></p>
            <p>Description: <%=  product.description %></p>
            <p>Added on:</p>
              <%= product.friendly_time %>
            <img src = "<%=  product.images.first.url %>" alt="<%= product.name %>">
            <%= link_to "Delete Product Please", "/products/#{product.id}", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>