<p>Name: <%= @product.name %></p>
<p>Price: <%= number_to_currency(@product.price, unit: "Rupees", format: "%n %u") %></p>
<p>Images:</p>
<% @product.images.each do |image| %>
  <p> <img src = <%= image.url %>></p>
<% end %>
<p>Categories</p>
<ul>
<% @product.categories.each do |category| %>
  <li><%= category.name.capitalize %></li>
<% end %>
</ul>
<p>Description: <%= @product.description %></p>
<p>Supplier: <%= @product.supplier.name %></p>
<%= link_to "Delete Product Please", "/products/#{@product.id}", method: :delete %>

<%= form_tag "/carted_products", method: :post do %>
 <div>
  <% if current_user %>
  <div>
  Quantity:
    <input type="number" name="quantity">
  </div>
  <div>
  Product ID: <%= @product.id %>
    <input type="hidden" name="product_id" value="<%= @product.id %>">
  </div>
    <div>
    <input type="submit" value="Add to Cart!">
  </div>
  <% end %>
  </div>
<% end %>
