<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">The Legend of Zelda</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Merchant Items<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Discoverable Items</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorting options <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort=name">Sort by Name</a></li>
            <li><a href="/products?sort=price">Sort by Price(Low to High)</a></li>
            <li><a href="/products?sort=price&order=desc">Sort by Price(High to Low)</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/products?discount=100">Discount items</a></li>
             <li role="separator" class="divider"></li>
            <li><a href="/products/random">Random Item</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <%= form_tag "/products", method: :get do %>
          <div class="form-group">
            <input type="text" class="form-control" name="search_result" placeholder="Search...">
           </div>
            <input type="submit" class="btn btn-default">
        <% end %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/carted_products">Checkout (<%= @cart_count %>)</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Item Query <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><%= link_to "Log Out!", "/logout", class: "h1" %></li>
            <% else %>
            <li><a href="/login">Log In!</a></li>
            <li><a href="/signup">Sign Up!</a></li>
            <% end %>
            <li role="separator" class="divider"></li>
              <% Category.all.each do |category| %>
              <li><a href="/products?category=<%= category.name %>">  
              Category: <%= category.name.capitalize %>
              </a></li>
              <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
       </button>
        <%= message %>
      </div>

      <% end %>
      <h1>Hyrule's Item Shop</h1>
    <div class="container">  
    <%= yield %>
    </div>
    <h1>Contact me at mjyatco@gmail.com</h1>
  </body>
</html>

